.announcement-bar {
  height: 2rem;
  background-color: #0f547a;
  color: white;
  margin: 0;
  line-height: 1.65;
  text-align: center;
  padding-top: 0.3rem;
  position: sticky;
  z-index: 1000;
}
.announcement-bar p {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .announcement-bar {
    height: 1.5rem;
  }

  .announcement-bar p {
    font-size: 0.8rem;
  }
}
