:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .carousel__slide {
    width: 100%;
    height: 75%;
  }
}

@media screen and (max-height: 450px) {
  .carousel {
    margin-top: 4rem;
  }

  .carousel__slide {
    width: 50% !important;
    height: 100% !important;
    object-fit: contain !important;
  }
}

@media screen and (max-width: 768px) and (max-height: 450px) {
  .carousel__slide {
    width: 100%;
    height: 75%;
  }

  .slideshow__header {
    width: 30% !important;
  }

  .slideshow__info {
    bottom: 10% !important;
  }
}

.carousel__btn--container {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.carousel__btn {
  display: inline-block;
  margin-left: 1rem;
  border: none;
  background: #525252;
  opacity: 40%;
  border-radius: 1rem;
  width: 3rem;
  height: 0.5rem;
  padding: 0;
  outline: 0;
  cursor: pointer;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  transform: rotate(180deg);
}

.carousel__btn:hover {
  opacity: 25%;
}

.carousel__btn--selected {
  opacity: 80%;
}

.carousel__btn--selected:hover {
  opacity: 60%;
}

.slideshow__info {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.slideshow__header {
  padding: 2.5rem 3rem;
  margin-left: 3rem;
  width: 30%;
  border-radius: 0rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  background-color: #a4a4a43d;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .slideshow__info {
    bottom: 3%;
  }

  .slideshow__header {
    margin: 1rem;
    padding: 1.5rem 2rem;
    width: auto;
  }

  .slideshow__header > p {
    display: none;
  }

  .slideshow__header h3 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .slideshow__header h2 {
    font-size: 1.4rem;
  }
}

.slideshow__header h3,
h2 {
  color: var(--color-secondary);
}

@media screen and (max-width: 1024px) {
  .carousel__slide {
    width: 90%;
    object-fit: cover;
  }

  .slideshow__header h3 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .slideshow__header h2 {
    font-size: 1.4rem;
  }

  .slideshow__header > p {
    display: none;
  }
}

.slideshow__header h2::before {
  content: "$";
  padding-right: 0.2rem;
  font-size: 1.4rem;
  vertical-align: top;
}

.slideshow__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
