:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff0e5;
}

.carousel__slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
  background-color: #fff0e5;
}

.carousel__btn--container {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.carousel__btn {
  display: inline-block;
  margin-left: 1rem;
  border: none;
  background: #525252;
  opacity: 40%;
  border-radius: 1rem;
  width: 3rem;
  height: 0.5rem;
  padding: 0;
  outline: 0;
  cursor: pointer;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  transform: rotate(180deg);
}

.carousel__btn:hover {
  opacity: 25%;
}

.carousel__btn--selected {
  opacity: 80%;
}

.carousel__btn--selected:hover {
  opacity: 60%;
}

.slideshow__info {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.slideshow__header {
  padding: 2.5rem 3rem;
  margin-left: 3rem;
  width: 30%;
  border-radius: 0rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  background-color: #a4a4a43d;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-secondary);
}

.slideshow__header h3,
h2 {
  color: var(--color-secondary);
}

.slideshow__header h2::before {
  content: "$";
  padding-right: 0.2rem;
  font-size: 1.4rem;
  vertical-align: top;
}

.slideshow__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
