<div [style.background-color]="color" class="carousel">
  <ng-container *ngFor="let product of products; let i = index">
    <img
      *ngIf="i === current_slide"
      [src]="product.images[1].image"
      class="carousel__slide"
      [@slide_animation]
      alt=""
    />
  </ng-container>
  <ng-container *ngFor="let product of products; let i = index">
    <div [@info_animation] *ngIf="i === current_slide" class="slideshow__info">
      <header class="slideshow__header">
        <h3>{{ product.title }}</h3>
        <h2>{{ product.unit_price }}</h2>
        <p>
          {{ product.description.substring(0, 255) }}
        </p>
        <div class="slideshow__btn-container">
          <button
            routerLink="/shop/product/{{ product.id }}"
            class="btn btn--primary"
          >
            Shop Now
          </button>
        </div>
      </header>
    </div>
  </ng-container>

  <div class="carousel__btn--container">
    <mat-progress-bar
      mode="determinate"
      color="secondary"
      [value]="i === current_slide ? progress_bar_value : ''"
      *ngFor="let product of products; let i = index"
      class="carousel__btn"
      (click)="goToSlide(i)"
      [ngClass]="i === current_slide ? 'carousel__btn--selected' : ''"
    >
    </mat-progress-bar>
  </div>
</div>
