.featured-products--container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .featured-products--container {
    grid-template-columns: 1fr;
  }
}

h3 {
  text-align: center;
  color: var(--color-secondary);
}

.featured-products--btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.featured-products--btn-container > .btn {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .featured-products--btn-container > .btn {
    width: 60%;
  }
}
