.product-card {
}

.product-card__image-container {
  margin: 1rem 3rem;
  padding: 2rem 2rem;
  background-color: var(--color-font-primary);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  position: relative;
  transition: all 0.2s;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .product-card__image-container {
    margin: 1rem 1.4rem;
    padding: 2rem;
  }
}

.product-card__image {
  width: 100%;
  height: 13vw;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .product-card__image-container {
    padding: 1rem;
  }

  .product-card__image {
    height: 13vh;
  }
}

@media screen and (min-width: 1024px) {
  .product-card__image--featured {
    width: 100%;
    height: 16vw;
  }
}

.bg-1 {
  background-color: var(--color-product-bg-1);
}

.bg-2 {
  background-color: var(--color-product-bg-2);
}

.bg-3 {
  background-color: var(--color-product-bg-3);
}

.product-card__info {
  text-align: center;
  padding: 0 2rem;
}

.product-card__info__link:hover {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--color-primary);
}

.product-card__info__price {
  color: var(--color-primary);
}

.product-card__info__price::before {
  content: "$";
  padding-right: 0.2rem;
  font-size: 0.7rem;
  vertical-align: top;
}

.product-card__info__link {
  color: var(--color-secondary);
  text-decoration: none;
}

.product-card--highlight .product-card__image-container::before {
  display: inline-block;
  content: "New";
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 0.5rem;
  font-weight: 600;
  color: #ef7317;
  background-color: var(--color-font-primary);
}
