<div class="product-card product-card--highlight">
  <div
    [style.background-image]="
      'url(' +
      (product.images[1] || '/assets/images/default-placeholder-image.png') +
      ')'
    "
    class="product-card__image-container"
  >
    <img
      class="product-card__image"
      [src]="
        product.images[0] || '/assets/images/default-placeholder-image.png'
      "
      alt=""
    />
  </div>
  <div class="product-card__info">
    <h5>
      <a>{{ product.title }}</a>
    </h5>
    <p>{{ product.unit_price }}</p>
  </div>
</div>
