<div class="about">
  <h3 class="about__header">About</h3>
  <p class="about__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolores
    amet deleniti ullam! Esse nesciunt dignissimos aspernatur sed dolore,
    molestias iste est odio consectetur molestiae nisi aliquid dolor earum
    cumque? Neque, eum autem. Asperiores nisi, nesciunt doloribus sed at
    blanditiis quae sint enim consequuntur tempora, illum distinctio quibusdam
    amet nobis accusamus voluptatem, odio fugiat explicabo magni ullam sit
    voluptas. Debitis! Deleniti aliquam, ad excepturi repellendus culpa,
    molestias voluptate voluptatibus quaerat maiores adipisci magni. Nam dolorem
    officia sit doloribus accusantium cum cupiditate maiores deserunt sint
    perspiciatis iusto, laboriosam dolore ut suscipit.
  </p>
  <p class="about__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
    voluptas mollitia laudantium ratione! Iste illum recusandae vitae, totam
    saepe vero temporibus id porro obcaecati facilis, quisquam facere maxime
    enim. Illum vel natus repudiandae quod ea eveniet deleniti ipsa praesentium!
    Doloribus enim minima maxime labore quam non sit? Deleniti magni harum
    incidunt facere, quas aliquid tempore odio vitae inventore dolore!
  </p>
  <p class="about__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
    voluptas mollitia laudantium ratione! Iste illum recusandae vitae, totam
    saepe vero temporibus id porro obcaecati facilis, quisquam facere maxime
    enim. Illum vel natus repudiandae quod ea eveniet deleniti ipsa praesentium!
    Doloribus enim minima maxime labore quam non sit? Deleniti magni harum
    incidunt facere, quas aliquid tempore odio vitae inventore dolore!
  </p>
</div>
