.order-success {
  margin: 8rem 4rem 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-font-primary);
  color: var(--color-font-secondary);
  align-items: center;
  gap: 2rem;
  justify-content: center;
  min-height: 50vh;
}

@media screen and (max-width: 768px) {
  .order-success {
    margin: 2rem 0 0;
    padding: 3rem 1rem 1rem;
  }
}

.order-success__btn {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .order-success__btn {
    width: 60%;
  }
}

.order-success__return-btn {
  background: none;
  border: none;
  color: var(--color-secondary);
  text-decoration: underline;
  cursor: pointer;
  margin: 1rem 0;
}

.order-success__return-btn:hover {
  color: #00314c;
}

.order-success__icon {
  font-size: 8rem;
  color: var(--color-primary);
}
