.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  font-family: "Julius Sans One", sans-serif;
  font-size: 0.85rem;
  width: 100%;
  z-index: 100;
  position: fixed;
  border-bottom: 1px solid var(--color-secondary);
  transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  .navbar {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.navbar--normal {
  background-color: white;
  top: 2rem;
}

.navbar--clear {
  background-color: #00000017;
  height: 3rem;
  top: 0%;
  align-content: center;
}

.navbar--clear:hover {
  background-color: white;
  border: none;
}

@media screen and (max-width: 1024px) {
  .navbar--clear {
    background-color: white;
    height: 4rem;
  }
  .navbar--clear:hover {
    border-bottom: 1px solid var(--color-secondary);
  }
}

.navbar__list {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
  transition: all 0.4s;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .navbar__list {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar--left {
    display: none;
  }
}

.navbar__item {
  padding: 0 1.8rem;
  list-style: none;
  color: var(--color-secondary);
  font-weight: bolder;
  cursor: pointer;
  transform: translateX(0);
  transition: all 0.4s;
}

.navbar__item--hidden {
  transform: translateX(100%);
}

@media screen and (max-width: 1024px) {
  .navbar__item {
    padding: 0 1rem;
  }
}

.navbar__search {
  cursor: default;
  padding: 0%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.navbar__item > a {
  text-decoration: none;
  color: var(--color-secondary);
}

.navbar__item > a:hover,
.navbar__icon:hover {
  color: #69615b;
  transition: color 0.2s;
}

.navbar__icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar__search > .navbar__icon {
  right: 5px;
}

.navbar__icon--small {
  font-size: 0.8rem;
  margin: 0 0.2rem;
}

.navbar__image {
  background-size: cover;
  width: 4rem;
}

.navbar__input-container {
  padding-left: 0.3rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar__input {
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "Urbanist";
  border: none;
  padding: 0.5rem 0.8rem;
  flex-grow: 1;
}

.navbar__input:focus {
  outline: none;
  box-shadow: #69615b;
}

@media screen and (max-width: 768px) {
  .navbar__input-container {
    position: absolute;
  }

  .navbar__input {
    width: 78vw;
    margin-left: 1rem;
  }
}

.navbar__list--hidden {
  transform: translateX(-200%);
  position: absolute;
}

.search-results {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 44px;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .search-results {
    max-height: 75vh;
  }
}

@media screen and (max-width: 768px) {
  .search-results {
    width: 100vw;
    top: 5vh;
    left: -2vw;
  }
}

.search-results__item {
  padding: 1rem 2rem;
  cursor: pointer;
}

.search-results__item:hover {
  background-color: var(--color-font-primary);
}

.search-results__item--empty {
  padding: 1rem 2rem;
  cursor: auto;
}

.search-results__empty:hover {
  background-color: white;
}

.sidenav-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidenav-icon {
    display: flex;
    color: var(--color-secondary);
    font-size: 1.4rem;
    align-items: center;
    margin-left: 1rem;
    position: relative;
    transform: translateX(0);
  }

  .sidenav-icon--hidden {
    position: absolute;
    transform: translateX(-200%);
  }
}
