<nav id="navbar" class="navbar navbar--normal" (scroll)="onWindowScroll()">
  <div id="sidenav-icon" class="sidenav-icon">
    <fa-icon (click)="openNav()" [icon]="faBars"></fa-icon>
  </div>
  <ul class="navbar__list navbar--left">
    <li class="navbar__item">
      <a routerLink="">Home</a>
    </li>
    <li class="navbar__item">
      <a routerLink="/shop">Shop</a>
    </li>
    <li class="navbar__item">
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="navbar__item">
      <a routerLink="/about">About</a>
    </li>
  </ul>
  <ul id="navbar-middle" class="navbar__list navbar--middle">
    <li class="navbar__item"></li>
  </ul>
  <ul class="navbar__list navbar--right">
    <li class="navbar__item navbar__search">
      <fa-icon
        style="position: relative"
        (click)="toggleSearchBar()"
        [@open_close_icon]="search_open ? 'open' : 'closed'"
        class="navbar__icon"
        [icon]="faSearch"
      ></fa-icon>
      <div
        class="navbar__input-container"
        [@open_close_input]="search_open ? 'open' : 'closed'"
      >
        <input
          #focus
          placeholder="Search . . ."
          class="navbar__input"
          [(ngModel)]="search_input"
          [ngbTypeahead]="search"
          id="search_input"
          type="text"
        />
        <fa-icon
          (click)="clearSearchBar()"
          [icon]="faX"
          class="navbar__icon navbar__icon--small"
        ></fa-icon>
        <div class="search-results">
          <li
            class="search-results__item--empty"
            *ngIf="searched_products.length < 1 && search_input.length > 1"
          >
            No products found
          </li>
          <li
            routerLink="/shop/product/{{ product.id }}"
            (click)="clearSearchBar()"
            class="search-results__item"
            *ngFor="let product of searched_products"
          >
            {{ product.title }}
          </li>
        </div>
      </div>
    </li>
    <li id="cart-icon" class="navbar__item">
      <fa-icon
        (click)="toggleCart()"
        class="navbar__icon"
        [icon]="faCart"
      ></fa-icon>
      <p
        [style.opacity]="cart_quantity > 0 ? '1' : '0'"
        class="cart__quantity"
        [textContent]="cart_quantity > 99 ? '...' : cart_quantity"
      ></p>
    </li>
    <li id="user-icon" style="padding: 0 0.5rem" class="navbar__item">
      <fa-icon
        (click)="toggleUser()"
        class="navbar__icon"
        [icon]="faUser"
      ></fa-icon>
    </li>
  </ul>
</nav>
<app-shopping-cart
  [style.top]="dropdown_top"
  class="navbar__cart"
  id="app-shopping-cart"
></app-shopping-cart>
<app-user [style.top]="dropdown_top" class="navbar__user"></app-user>
