.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  font-family: "Julius Sans One", sans-serif;
  font-size: 0.85rem;
  width: 100%;
  z-index: 100;
  position: fixed;
  border-bottom: 1px solid var(--color-secondary);
  transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  .navbar {
    font-size: 1rem;
  }
}

.navbar--normal {
  background-color: white;
  top: 2rem;
}

.navbar--clear {
  background-color: #00000017;
  height: 3rem;
  top: 0%;
  align-content: center;
}

.navbar--clear:hover {
  background-color: white;
  border: none;
}

.navbar__list {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

.navbar__item {
  padding: 0 1.8rem;
  list-style: none;
  color: var(--color-secondary);
  font-weight: bolder;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar__item {
    padding: 0 1rem;
  }
}

.navbar__search {
  cursor: default;
  padding: 0%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.navbar__item > a {
  text-decoration: none;
  color: var(--color-secondary);
}

.navbar__item > a:hover,
.navbar__icon:hover {
  color: #69615b;
  transition: color 0.2s;
}

.navbar__icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar__search > .navbar__icon {
  right: 5px;
}

.navbar__icon--small {
  font-size: 0.8rem;
  margin: 0 0.2rem;
}

.navbar__image {
  background-size: cover;
  width: 4rem;
}

.navbar__input-container {
  padding-left: 0.3rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar__input {
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "Urbanist";
  border: none;
  padding: 0.5rem 0.8rem;
  flex-grow: 1;
}

.navbar__input:focus {
  outline: none;
  box-shadow: #69615b;
}
