<div class="order">
  <div class="order__form">
    <h4 class="order__form__header">Shipping Information</h4>
    <input
      style="width: 35%"
      class="order__form__input"
      type="text"
      placeholder="First Name"
    />
    <input
      style="width: 35%"
      class="order__form__input"
      type="text"
      placeholder="Last Name"
    />
    <input class="order__form__input" type="text" placeholder="Phone Number" />
    <input class="order__form__input" type="text" placeholder="Country" />
    <input
      class="order__form__input"
      type="text"
      placeholder="Street Address"
    />
    <input class="order__form__input" type="text" placeholder="City" />
    <input class="order__form__input" type="text" placeholder="Province" />
    <input class="order__form__input" type="text" placeholder="Postal Code" />
    <button class="btn btn--primary order__btn">Place Order</button>
  </div>
  <div class="order__items">
    <div *ngFor="let item of cart.items" class="order__item">
      <app-cart-item [item]="item" [light]="false"></app-cart-item>
    </div>
  </div>
  
</div>
