.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 1368px;
}

.order__form {
  padding: 8rem 3rem 4rem 5rem;
  background-color: var(--color-font-primary);
  justify-content: end;
}

@media screen and (max-width: 1024px) {
  .order__form {
    padding: 8rem 2rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .order {
    grid-template-rows: 1fr;
    grid-template-columns: none;
  }

  .order__form {
    padding: 5rem 2rem 4rem;
  }
}

.order__form__header {
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
  width: 100%;
}

.order__form__subheader {
  font-size: 0.8rem;
  transition: all 0.2s;
}

.order__form__subheader--danger {
  font-weight: 900;
  color: var(--color-danger);
}

.order__form__input {
  width: 75%;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.2s;
  flex-grow: 1;
}

.order__form__input--danger {
  box-shadow: -1px 1px 18px 3px var(--color-danger);
}

.order__btn {
  align-self: flex-end;
  width: 40%;
  margin-left: 50%;
}

@media screen and (max-width: 1024px) {
  .order__btn {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .order__btn {
    width: 100%;
    margin: 0;
  }
}

.order__form__input:focus {
  /* border: 1px solid var(--color-secondary); */
  box-shadow: 1px 1px 14px -1px var(--color-primary);
}

.order__items {
  flex-direction: column;
  padding: 8rem 3rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .order__items {
    padding: 8rem 3rem 4rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .order__items {
    padding: 2rem 0;
  }
}

.order__item {
  color: var(--color-font-secondary);
}

.order__items__total {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.order__subtotal {
  margin: 0 2rem 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-font-secondary);
}

.order__total {
  margin: 1rem 2rem;
  display: flex;
  color: var(--color-font-secondary);
  justify-content: space-between;
  border-top: 1px solid;
  font-weight: 900;
}
