.cart {
  width: 25%;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0%;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-font-primary);
  opacity: 0;
  transform: translateY(-150%);
  transition: all 0.4s;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .cart {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    padding: 1rem 0 0.5rem;
    width: 100%;
  }
}

.cart__header {
  color: var(--color-font-primary);
  margin-bottom: 1rem;
}

.cart__items {
  max-height: 50vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .cart__items {
    max-height: 60vh;
  }
}

@media screen and (max-height: 425px) {
  .cart__items {
    max-height: 20vh;
  }
}

.cart__subtotal-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.cart__subtotal-label {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cart__btn {
    width: 70%;
  }
}

.cart__subtotal::before {
  content: "$";
  font-size: 0.8rem;
}
