<div class="cart">
  <h4 class="cart__header">Cart</h4>
  <div class="cart__items">
    <ng-container *ngFor="let item of cart.items">
      <app-cart-item [item]="item" [light]="true"></app-cart-item
    ></ng-container>
  </div>

  <h5 *ngIf="cart.items.length < 1">Your cart is empty.</h5>
  <div *ngIf="cart.items.length > 0" class="cart__subtotal-container">
    <p class="cart__subtotal-label">Subtotal:</p>
    <p class="cart__subtotal">
      {{ cart.total_price }}
    </p>
  </div>
  <button
    routerLink="/order"
    [class]="cart.items.length < 1 ? 'btn--disabled' : ''"
    class="btn btn--secondary"
  >
    Checkout
  </button>
</div>
