<div class="my-orders">
  <table class="my-orders__list">
    <tr>
      <th>Order ID</th>
      <th>Payment Status</th>
      <th>Date Placed</th>
    </tr>
    <tr *ngFor="let order of orders" class="my-orders__item">
      <td class="my-orders__info">{{ order.id }}</td>
      <td class="my-orders__info">{{ order.payment_status }}</td>
      <td class="my-orders__info">{{ order.placed_at.substring(0,10) }}</td>
      <td><button class="my-orders__view-btn">View Order</button></td>
    </tr>
  </table>
</div>
