.product {
  display: grid;
  margin: 4rem auto 3rem;
  max-width: 1366px;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.product__image {
  height: 30vw;
  object-fit: contain;
  margin: 0 1rem;
  max-width: 85%;
}

.product__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  border-right: 1px solid var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 3rem;
  }

  .product__image-container {
    gap: 2rem;
    border: none;
    overflow: scroll;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    justify-content: start;
  }

  .product__image {
    height: 50vh;
    width: 85vw;
    scroll-snap-align: center;
  }
}

.product__details {
  text-align: center;
  padding: 0 4rem;
}

.product__details__header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-secondary);
}

.product__details__title {
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.product__details__price {
  color: var(--color-primary);
}

.product__details__price::before {
  content: "$";
  padding-right: 0.2rem;
  font-size: 0.7rem;
  vertical-align: top;
}

.product__details__body {
  text-align: left;
  color: var(--color-font-secondary);
  margin-bottom: 1rem;
}

.product__details__quantity {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .product__details {
    padding: 0%;
  }
}

.quantity {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  text-align: center;
  outline: none;
  margin: 0 1rem;
  color: var(--color-font-secondary);
  width: 40%;
}

/* chrome: removes up/down arrows on side of input */
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox: removes up/down arrows on side of input */
.quantity[type="number"] {
  -moz-appearance: textfield;
}

.quantity-icon {
  cursor: pointer;
  color: var(--color-font-secondary);
}

.quantity-icon:hover {
  color: #3677ae;
}

.recommended-products {
  margin: 1rem 1rem 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--color-secondary);
}

.recommended-products-header {
  margin-top: 3rem;
  text-align: center;
  color: var(--color-secondary);
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  .recommended-products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
