<div *ngIf="!password_reset_success" class="forgot-password">
  <h4 class="forgot-password__header">Reset your password.</h4>
  <input
    id="email"
    (change)="clearDanger($event)"
    [(ngModel)]="email"
    placeholder="Email"
    type="email"
    class="email__input animate__animated"
  />
  <p class="error-message" *ngIf="error">Please enter a valid email!</p>
  <button
    (click)="resetPassword()"
    class="btn btn--primary forgot-password__btn"
  >
    Reset
  </button>
</div>
<div *ngIf="password_reset_success" class="forgot-password">
  <h4 class="forgot-password__header">Password has been reset.</h4>
  <p>
    An email has been sent to {{ email }} with a link to reset your password.
  </p>
  <button routerLink="/login" class="btn btn--primary forgot-password__btn">
    Back to Login
  </button>
</div>
