.forgot-password {
  margin: 8rem 30% 4rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-font-primary);
  color: var(--color-font-secondary);
  align-items: center;
  gap: 2rem;
  padding: 0 4rem;
  justify-content: center;
  min-height: 50vh;
}

@media screen and (max-width: 1024px) {
  .forgot-password {
    margin: 8rem 20% 4rem;
  }
}

@media screen and (max-width: 768px) {
  .forgot-password {
    margin: 0;
    padding: 0 2rem;
    min-height: 80vh;
    border-radius: 0%;
  }
}

.email__input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: 0.3s;
}

.email__input--danger {
  box-shadow: -1px 1px 18px 3px var(--color-danger);
}

.email__input:focus {
  box-shadow: 1px 1px 14px -1px var(--color-primary);
}

.forgot-password__btn {
  margin-bottom: 2rem;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .forgot-password__btn {
    width: 60%;
  }
}

.forgot-password__header {
  margin-top: 2rem;
}

.error-message {
  color: var(--color-danger);
}
