.header {
  margin: 8rem 4rem 3rem;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 5rem 4rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 5rem 1rem 0.5rem;
  }
}

.header > h4 {
  font-weight: normal;
}

.collections-list {
  list-style: none;
  font-size: 1.8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid var(--color-secondary);
}

.collections-list__item {
  padding: 0rem 1rem;
  white-space: nowrap;
}

.collections-list__item > a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.6rem;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}

.collections-list__item > .selected {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 1;
}

.collections-list__item > a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .collections-list {
    overflow: scroll;
    width: 100%;
  }

  .collections-list__item > a {
    font-size: 1.2rem;
  }

  .collections-list__item .selected {
    font-size: 1.4rem;
  }
}

.products {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

@media screen and (max-width: 1024px) {
  .products {
    margin: 5.5rem 0;
  }
}

.products__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  row-gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .products__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.products__btn {
  align-self: center;
  width: 20%;
}

@media screen and (max-width: 768px) {
  .products__container {
    grid-template-columns: 1fr 1fr;
  }

  .products__btn {
    width: 60%;
  }

  .products {
    margin: 1.5rem 0;
  }
}

.btn--disabled {
  border: none;
  background-color: #8e8e8e;
  cursor: default;
}

.btn--disabled::before {
  content: none;
}

.btn--disabled:hover {
  background-color: #8e8e8e;
  color: var(--color-font-primary);
}

.toolbar {
  background-color: var(--color-font-primary);
  justify-content: center;
  position: relative;
  z-index: 99;
}

.toolbar--mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .toolbar {
    display: none;
  }

  .toolbar--mobile {
    display: block;
    color: var(--color-secondary);
  }
}

.toolbar__btn-container {
  padding: 1.5rem 0;
  background: var(--color-font-primary);
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .toolbar__btn-container {
    padding: 2rem 0;
  }
}

.toolbar__btn {
  background-color: transparent;
  color: var(--color-secondary);
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.toolbar__icon {
  position: absolute;
  right: 10px;
  top: 0px;
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.toolbar__icon--down {
  transform: rotate(0);
}

.toolbar__btn:hover {
  color: var(--color-primary);
}

.toolbar__btn:hover .toolbar__icon {
  right: 5px;
  color: var(--color-primary);
}

.toolbar__btn:hover .toolbar__icon--down {
  top: 5px;
  right: 10px;
}

.filter {
  padding: 0.5rem 3rem;
}

@media screen and (max-width: 1024px) {
  .filter {
    padding: 1rem 3rem;
  }
}

.filter__label {
  color: var(--color-primary);
  margin: 0 0.5rem;
  align-self: center;
}

.filter__input {
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  width: 4rem;
  outline: none;
  color: var(--color-secondary);
  padding: 0.5rem;
  margin-right: 1rem;
}

.filter__btn {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  width: auto;
  height: auto;
  margin: 0 2rem;
}

.filter__btn--mobile {
  margin-left: 2rem;
  border: none;
  background: var(--color-secondary);
  color: var(--color-font-primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.expandable {
  position: absolute;
  border-top: 1px solid var(--color-product-bg-1);
  z-index: -1;
  top: 0;
  left: 0;
  width: max-content;
  width: -moz-available;
  width: -webkit-fill-available;
  background-color: var(--color-font-primary);
  transition: all 0.5s;
}

.expandable--expanded {
  top: 100%;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .expandable {
    position: fixed;
    top: 100%;
    max-height: 63vh;
  }

  .expandable--expanded {
    top: 30vh;
    z-index: 1000;
  }

  .filter__input {
    margin-left: 0.5rem;
  }

  .filter__clear {
    width: max-content;
    align-self: center;
  }
}

.sort-filter {
  padding: 2rem 1rem;
  overflow: scroll;
}

.filter--mobile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sort--mobile {
  display: flex;
  flex-direction: column;
}

.filter__close {
  position: sticky;
  top: 0;
  transform: translate(87vw, -3vh);
  border: none;
  background: none;
  color: var(--color-font-secondary);
  font-size: 1.2rem;
}

.sort {
  padding: 0rem 1rem;
}

.sort__btn {
  font-size: 1rem;
  color: var(--color-primary);
  background-color: var(--color-font-primary);
  cursor: pointer;
  border: none;
  margin: 1rem 0.5rem;
  transition: all 0.3s;
}

.sort__btn:hover {
  color: var(--color-secondary);
}

.sort__btn--highlight {
  border-radius: 0.4rem;
  background-color: #b3b7ff78;
}

.no-products-header {
  margin: 4rem 0;
  text-align: center;
}

.filter__clear {
  background-color: transparent;
  color: #444444;
  border: none;
  border-bottom: 1px solid #444444;
  cursor: pointer;
  transition: all 0.2s;
}

.filter__clear:hover {
  color: #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.filter__clear--disabled {
  color: #919191;
  cursor: default;
  border-bottom: 1px solid #919191;
}

.filter__clear--disabled:hover {
  color: #919191;
  border-bottom: 1px solid #919191;
}

.filter__icon-clear {
  font-size: 0.7rem;
}

.page-down-container {
  width: 100%;
  display: none;
  justify-content: center;
  position: fixed;
  top: 5rem;
  z-index: 1000;
}

.page-down-icon {
  font-size: 3.4rem;
  bottom: 10%;
  color: var(--color-secondary);
  transform: translateY(-25px);
  transition: all 0.3s;
  cursor: pointer;
}

.page-down-icon:hover {
  transform: translateY(-25px) rotate(1turn);
}

.filter__error {
  color: var(--color-danger);
  font-size: 0.8rem;
  margin: 0.5rem 5rem 0rem;
  display: inline;
  transition: 0.3s;
  opacity: 0;
}
