.testimonial {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 2rem 4rem;
}

@media screen and (max-width: 768px) {
  .testimonial {
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 350px) {
  .testimonial {
    grid-template-rows: 1fr 2fr;
    margin: 2rem;
  }
}

.testimonial__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.testimonial__nav__img {
  width: 10%;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .testimonial__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .testimonial__nav__img {
    width: 100%;
  }
}

.testimonial__content {
  overflow: hidden;
  position: relative;
  height: 15rem;
}

@media screen and (max-width: 768px) {
  .testimonial__content {
    height: 100%;
  }
}

.testimonial__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  color: var(--color-secondary);
  position: absolute;
  width: 100%;
}

.testimonial__body > h5 {
  padding: 1rem 0rem;
  color: var(--color-primary);
}

.testimonial__body > .btn {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .testimonial__body > .btn {
    width: 100%;
  }
}

.testimonial__body__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.img {
  opacity: 0.3;
  transition: all 0.2s;
}

.img--highlight {
  opacity: 1;
  transition: all 0.2s;
}
