<div class="testimonial">
  <div class="testimonial__nav">
    <img
      class="testimonial__nav__img"
      (click)="setSelected_body('shipping')"
      [ngClass]="selected_body === 'shipping' ? 'img--highlight' : 'img'"
      src="/assets/images/shipping-logo.png"
      alt=""
    />
    <img
      class="testimonial__nav__img"
      (click)="setSelected_body('satisfaction')"
      [ngClass]="selected_body === 'satisfaction' ? 'img--highlight' : 'img'"
      src="/assets/images/satisfaction.png"
      alt=""
    />
    <img
      class="testimonial__nav__img"
      (click)="setSelected_body('rewards')"
      [ngClass]="selected_body === 'rewards' ? 'img--highlight' : 'img'"
      src="/assets/images/rewards-card1.png"
      alt=""
    />
    <img
      class="testimonial__nav__img"
      (click)="setSelected_body('socialmedia')"
      [ngClass]="selected_body === 'socialmedia' ? 'img--highlight' : 'img'"
      src="/assets/images/socialmedia.png"
      alt=""
    />
  </div>
  <div class="testimonial__content">
    <div
      [@testimonial_animation]
      *ngIf="selected_body === 'shipping'"
      class="testimonial__body"
    >
      <h4>Free Shipping Right to Your Door!</h4>
      <h5>Limited time only. Order now!</h5>
      <button routerLink="shop" class="btn btn--primary">Shop Now</button>
    </div>
    <div
      [@testimonial_animation]
      *ngIf="selected_body === 'satisfaction'"
      class="testimonial__body"
    >
      <h4 class="">Returns Made Easy</h4>
      <h5>100% satisfaction guaranteed or your money back!</h5>
      <button class="btn btn--primary">Learn More</button>
    </div>
    <div
      [@testimonial_animation]
      *ngIf="selected_body === 'rewards'"
      class="testimonial__body"
    >
      <h4>Shop. Earn Points. Save Money.</h4>
      <h5>Sign up now to earn points buying the products you love.</h5>
      <button class="btn btn--primary">Learn More</button>
    </div>
    <div
      [@testimonial_animation]
      *ngIf="selected_body === 'socialmedia'"
      class="testimonial__body"
    >
      <h4>Follow Us On Social Media.</h4>
      <h5>Stay up to date on all the latest deals and offers.</h5>
      <div class="testimonial__body__links">
        <a
          class="link-arrow link-arrow--after"
          target="_blank"
          href="https://twitter.com/"
          >Twitter</a
        >
        <a
          class="link-arrow link-arrow--after"
          target="_blank"
          href="https://facebook.com/"
          >Facebook</a
        >
        <a
          class="link-arrow link-arrow--after"
          target="_blank"
          href="https://instagram.com/"
          >Instagram</a
        >
        <a
          class="link-arrow link-arrow--after"
          target="_blank"
          href="https://youtube.com/"
          >Youtube</a
        >
      </div>
    </div>
  </div>
</div>
