/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --color-primary: #097a66;
  --color-secondary: #0f547a;
  --color-danger: #c42b34;
  --color-font: #fff0e5;
  --color-product-bg-1: #f5aaaa57;
  --color-product-bg-2: #e0e0e073;
  --color-product-bg-3: #cbe1fb73;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Urbanist";
}

h1,
h2,
h3 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.2rem;
}

html,
body {
  height: 100%;
}

.btn {
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 1rem;
  width: 60%;
  height: 3rem;
  font-family: "Urbanist";
  font-size: 1.6vw;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
  z-index: 1;
}

.btn--primary {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-font);
}

.btn::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: right center;
  z-index: -1;
  transition: all 0.3s;
}

.btn--primary::before {
  background-color: var(--color-secondary);
}

.btn--primary:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

.btn:hover::before {
  transform-origin: right center;
  width: 0%;
}

.error-panel {
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.73, 0.19);
}

.loading-panel {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}

