.page-down--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-down-icon {
  font-size: 3.4rem;
  bottom: 10%;
  color: var(--color-secondary);
  transform: translateY(-25px);
  transition: all 0.3s;
  cursor: pointer;
}

.page-down-icon:hover {
  transform: translateY(-25px) rotate(1turn);
}

.block {
  padding: 2rem 0;
  scroll-margin-top: 2rem;
}
