<section>
  <app-slideshow></app-slideshow>
  <div class="page-down--container">
    <fa-icon
      (click)="scrollPage(featured_products_section)"
      class="page-down-icon"
      [icon]="faArrowSolid"
    ></fa-icon>
  </div>
</section>

<section class="block" #featured_products_section>
  <app-featured-products
    [products]="featured_products"
  ></app-featured-products>
</section>

<section class="block">
  <app-join-now></app-join-now>
</section>

<section class="block">
  <app-testimonials></app-testimonials>
</section>
