.home__icon {
  overflow: hidden;
  height: 3.4rem;
  display: inline;
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0%;
  bottom: 25px;
}

.home__icon--under {
  font-size: 3.4rem;
  color: var(--color-secondary);
  position: absolute;
  padding: 0;
  margin: 0%;
  z-index: 1;
  /* animation: icon_flash 2s infinite; */
  transition: all 0.1s;
  opacity: 0;
}

.home__icon--over {
  color: var(--color-secondary);
  position: absolute;
  padding: 0;
  margin: 0%;
  font-size: 3.7rem;
  z-index: 2;
  transition: all 0.5s;
  opacity: 1;
}

.home__icon:hover .home__icon--over {
  transform: translateY(50%);
}

.home__icon:hover .home__icon--under {
  opacity: 1;
}

@keyframes icon_flash {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
